{% extends 'base.html' %}


{% block title %}
Данные.
{% endblock %}


{% block body %}

<div class="container mt-5">
  <h1>Просмотр данных</h1>
  <h1>Excel Таблица</h1>
  {{ table_html | safe }}
  <div>
    <a class="btn btn-lg btn-light fw-bold border-white bg-blue" href="/data/add_row">Добавить строки</a>
  </div>
  <div>
    <a class="btn btn-lg btn-light fw-bold border-white bg-blue" href="/data/graphs">Данные в графическом виде</a>
  </div>
  <div>
    <a class="btn btn-lg btn-light fw-bold border-white bg-blue" href="/data/full">Полные данные</a>
  </div>
</div>

{% endblock %}